/*Dark color*/
/*Cream color*/
/*Red color*/
/*Purple color*/
/*Green color*/
@font-face {
  font-family: 'comfortaalight';
  src: url("../fonts/comfortaa/comfortaa-light/comfortaa-light-webfont.eot");
  src: url("../fonts/comfortaa/comfortaa-light/comfortaa-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/comfortaa/comfortaa-light/comfortaa-light-webfont.woff2") format("woff2"), url("../fonts/comfortaa/comfortaa-light/comfortaa-light-webfont.woff") format("woff"), url("../fonts/comfortaa/comfortaa-light/comfortaa-light-webfont.ttf") format("truetype"), url("../fonts/comfortaa/comfortaa-light/comfortaa-light-webfont.svg#comfortaalight") format("svg");
  font-weight: normal;
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'comfortaabold';
  src: url("../fonts/comfortaa/comfortaa-bold/comfortaa-bold-webfont.eot");
  src: url("../fonts/comfortaa/comfortaa-bold/comfortaa-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/comfortaa/comfortaa-bold/comfortaa-bold-webfont.woff2") format("woff2"), url("../fonts/comfortaa/comfortaa-bold/comfortaa-bold-webfont.woff") format("woff"), url("../fonts/comfortaa/comfortaa-bold/comfortaa-bold-webfont.ttf") format("truetype"), url("../fonts/comfortaa/comfortaa-bold/comfortaa-bold-webfont.svg#comfortaabold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'code_lightregular';
  src: url("../fonts/code/code_light-webfont.eot");
  src: url("../fonts/code/code_light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/code/code_light-webfont.woff2") format("woff2"), url("../fonts/code/code_light-webfont.woff") format("woff"), url("../fonts/code/code_light-webfont.ttf") format("truetype"), url("../fonts/code/code_light-webfont.svg#code_lightregular") format("svg");
  font-weight: normal;
  font-style: normal; }
html {
  font: 100%; }

body {
  font: 1.5em comfortaalight, sans-serif;
  color: #d8d2bc;
  background-color: #333333; }

section {
  min-height: 50em;
  height: auto !important;
  padding-top: 6.250em; }

/*custom-row-style*/
.row {
  margin-right: 0;
  margin-top: 2.5em;
  padding-bottom: 1.25em; }
  .row h1, .row h2 {
    font: 3em code_lightregular, sans-serif;
    color: #69d7c6; }
  .row h2 {
    /*font-size: 1.5em;*/
    text-align: center;
    margin-bottom: 1em;
    letter-spacing: .2em; }
  .row img {
    margin-top: 3em; }

/*custom-row-style*/
/*home page*/
.home-container {
  width: 65%; }
  .home-container p:nth-child(4) {
    font: 2.5em code_lightregular, sans-serif;
    letter-spacing: .7em;
    color: #69d7c6;
    margin-top: 1em; }
  .home-container p {
    font-size: 1.2em;
    text-align: center; }
  .home-container p span {
    font: 1.5em comfortaabold, sans-serif; }
  .home-container p:nth-child(3) {
    margin-top: 3em; }

/*nav*/
.navbar {
  position: fixed; }

.navbar-brand {
  font: 1em code_lightregular, sans-serif;
  padding: 1.5em 1.5em; }

.navbar-custom li > a {
  color: #d8d2bc;
  margin: .5em .5em;
  border: .08em solid gray; }

nav {
  font: 1em code_lightregular, sans-serif;
  width: 100%;
  position: static;
  top: -2em; }

.navbar-right {
  margin-right: .2em; }

nav.affix {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  -webkit-transition: 1s ease-out;
  -moz-transition: 1s ease-out;
  -o-transition: 1s ease-out;
  transition: 1s ease-out; }

/*nav*/
/*home page*/
/*about*/
#about {
  background-color: #fd625e; }

.about-container {
  text-align: center; }
  .about-container h2, .about-container p, .about-container a {
    color: #333333; }
  .about-container a + p {
    margin-top: 4.5em; }
  .about-container h2 + p {
    text-align: left;
    margin-bottom: 4.5em; }
  .about-container h2 + p + a {
    border: 0.1em solid #333333;
    padding: 2em 6em 2em 6em;
    text-decoration: none; }
  .about-container p > a {
    text-decoration: none;
    font-size: 1.5em; }
  .about-container h2 + p + a:hover {
    background-color: #eb5c58; }

/*about*/
/*work*/
#work {
  background-color: #7e4d76; }

.work-container {
  text-align: center; }
  .work-container h2 {
    font-size: 3em;
    color: #d8d2bc; }
  .work-container .col-sm-3 h3 {
    font: 1.5em code_lightregular, sans-serif;
    margin-top: 1.438em; }
  .work-container .col-sm-3 h3 + p + a {
    border: 0.1em solid #d8d2bc;
    padding: 1em 1em 1em 1em;
    text-decoration: none;
    color: #d8d2bc; }
  .work-container .col-sm-3 h3 + p + a:hover {
    background-color: #76476e; }
  .work-container .col-sm-3 p {
    margin-bottom: 51px;
    text-align: left; }
  .work-container .col-sm-3 img {
    margin-top: 1.438em;
    margin-bottom: 1em; }
  .work-container .col-sm-3 h2 + p {
    text-align: center;
    margin-bottom: 1em;
    font-size: 1.2em; }

/*work*/
/*work-xp*/
.progress-bar {
  background-color: #fd625e;
  color: #d8d2bc; }

.progress {
  background-color: #d8d2bc;
  padding: 0.125em; }

.work-xp-container .col-md-6 h3, .work-xp-container .col-md-6 h4 {
  font: 1em comfortaabold, sans-serif; }
.work-xp-container .col-md-6 h4 {
  color: #fd625e; }
.work-xp-container .col-md-6 span {
  font: 0.8em code_lightregular, sans-serif; }

/*work-xp*/
/*contact*/
#contact {
  min-height: 0; }
  #contact .row {
    margin-top: 0; }

/*form */
form {
  padding: 0 0 0 1em; }

.control-group {
  margin: 0 0 1em; }

legend {
  font: 4rem code_lightregular, sans-serif;
  color: #69d7c6;
  width: 100%;
  text-align: center;
  border: none;
  letter-spacing: .2em; }

label, input, textarea {
  background-color: #333333; }

input, textarea {
  padding: .5em;
  border: none; }

input:not([type="submit"]), textarea {
  border: 0.1em solid #d8d2bc;
  outline: none;
  width: 100%; }

textarea {
  height: 6em;
  resize: none; }

.submit {
  vertical-align: middle;
  text-align: right; }

[type="submit"] {
  padding: .625em 1.5em;
  background: #69d7c6;
  color: #333333; }

[type="submit"]:hover {
  background: #58b6a7; }

::-webkit-input-placeholder {
  color: #58b6a7;
  font-size: .8em; }

:-moz-placeholder {
  color: #58b6a7;
  font-size: .8em; }

::-moz-placeholder {
  color: #58b6a7;
  font-size: .8em; }

:-ms-input-placeholder {
  color: #58b6a7;
  font-size: .8em; }

/*form */
/*contact*/
/*footer*/
/*social*/
.btn-social {
  display: inline-block;
  width: 3.125em;
  height: 3.125em;
  border: 0.125em solid #d8d2bc;
  border-radius: 100%;
  text-align: center;
  font-size: 1.250em;
  line-height: 2.813em; }

.btn-outline {
  margin-top: 0.938em;
  border: solid 0.125em #d8d2bc;
  font-size: 1.250em;
  color: #d8d2bc;
  background: 0 0;
  transition: all .3s ease-in-out; }

.btn-outline:hover, .btn-outline:focus, .btn-outline:active, .btn-outline.active {
  border: solid 0.125em #d8d2bc;
  color: #18bc9c;
  background: #d8d2bc; }

/*social*/
/*footer*/
footer {
  background-color: #222;
  border: 1px solid #080808; }
  footer .row {
    margin-top: 0; }

/*footer*/
/*work detail*/
/*hover work*/
.show-work {
  margin: 0 auto;
  z-index: 2; }
  .show-work .caption {
    width: 100%; }
  .show-work img {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 2em; }
  .show-work h2 {
    font-size: 2em;
    color: #d8d2bc;
    letter-spacing: .5em; }

.show-work .work-item .work-link .caption {
  position: absolute;
  margin-right: 1.5em;
  width: 92%;
  height: 92%;
  opacity: 0;
  background: rgba(24, 188, 156, 0.9);
  -webkit-transition: all ease .5s;
  -moz-transition: all ease .5s;
  transition: all ease .5s; }

.show-work .work-item .work-link .caption:hover {
  opacity: 1; }

.show-work .work-item .work-link .caption .caption-content {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 100%;
  margin-top: -0.75em;
  text-align: center;
  font-size: 1.5em;
  color: #fff; }

/*hover work*/
/*work detail*/
/*functions*/
/*calc-em*/
/*row heading font sizes*/
.row h2 {
  font-size: 1.5em; }

/*this is for a bigger font size heading on "my portfolio" area*/
.work-container h2 {
  font-size: 2.6em; }

/*calc-em*/
/*calc-percent*/
/*here is the calculation of the form width based on its container width*/
form {
  width: 47.86325%; }

/*calc-percent*/
/*functions*/
/*media queries*/
@media all and (max-width: 480px) {
  .work-container .col-xs-6 {
    width: 100%;
    margin-bottom: 2em; }
    .work-container .col-xs-6 p {
      text-align: center; }

  form {
    width: 100%; }

  .about-container h2 + p + a {
    padding: 2em 2em 2em 2em; } }
/*media queries*/

/*# sourceMappingURL=style.css.map */
